*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  font-size: 100%;
}
body,html {
font-family: 'Abril Fatface', cursive;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-align:center;
  height:100vh;
  
}
.nevjegy{
  width:100%;
  margin:0px;
  height:100vh;
}

.profile-image{
  filter:grayscale(100%); 
  opacity:0.5;
  background: url(assets/IMG-1002copy.jpg) no-repeat;
  background-size:cover;
  background-position: right;
  float:right;
  width:45%;
  height:100%;
  
-webkit-box-shadow: inset 117px 0px 55px -14px rgba(255,255,255,1);
-moz-box-shadow: inset 117px 0px 55px -14px rgba(255,255,255,1);
box-shadow: inset 117px 0px 55px -14px rgba(255,255,255,1);  
  background-color:black;
}
.nev{
  float:right;
  width:50vw;
  height:50vw;
}
.fa-map-marker-alt{
  font-size:90%;
}

.fa-2x{
  color: rgba(0,0,0,0.6);
  float:left;
  padding:0.5vw;
  margin-top:1vw;
 
}
.fa-2x:hover{
  transform:scale(1.2);  
  color:red;
}
.hello{
  font-size:6vw;;
}
.im{
  font-size:4vw;
  float:left;
  width:100%;
  height:30%;
  float:left;
  text-align:left;
  padding-bottom:2vw;

}
.irasjel{
  color:red;
}
h3{
  font-size:130%;
  float:left;
  
  border:3px double black;
  text-align:left;
  padding-left:8%;
  padding-right:20%;
  padding-bottom:15%;
  padding-top:5%;
}
.introduction{
  float:left;
  border:3px double black;
  padding:4%;
  margin-top:-10%;
  margin-left:8vw;
}
.intro{
  width:43.5%;
  padding-bottom:5%;
  padding-top:4%;
  margin-left:-5.6%;
  color:red;
  font-size:130%;
  margin-top:-5.8%;
}
.szoveg{
  width: 100%;
  height:80%;
  text-align:justify;
  font-size:100%;
  
  }

p{
  float:right;
  width:40%;
  height:30%;
  padding:5%;
  margin-top:-2%;
}
.social-icon{
  width:65%;
  height:10%;
  float:right;
  padding-left:12vw;
}

ul{
  list-style-type: none;
  }
li{
  display:inline;
}

@media screen and (max-width: 750px) {
  .nevjegy{
    width:100%;
    margin:0px;
  }
  .nev{
    width:100%;
    height:100%;
  }
    .profile-image{    
    width:100%;    
    position:absolute;
    background-position: right;
    -webkit-box-shadow: inset 0px -82px 55px -14px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px -82px 55px -14px rgba(255,255,255,1);
    box-shadow: inset 0px -82px 55px -14px rgba(255,255,255,1);
      
  
      
    }
  .hello{
    font-size:15vw;
    text-align:left;
    padding:2%;
    
  }
  *{
    position:sticky;
    }
  .im{
    font-size:12vw;
    float:right;
    width:30%;
    margin-top:30vw;
    margin-right:20%;
  }
  .from{
    width:75%;
    float:left;
    margin-top:21.3vw;    
  }
  .intro{
    margin-top:-7vw;
    padding-left:10vw;
    }
  
  .from{
    width:80%;
    margin:0px;
    padding:0px;
    text-align:center;
    margin-right:10%;
    margin-left:10%;
    margin-top:80%;
    padding-top:5%;
    padding-bottom:20%;
    border:3px double black;
    }
  .introduction{
    width:96%;
    margin:0px;
    padding:0px;
    padding-top:2vw;
    margin-top:-15vw;
    margin-right:2%;
    margin-left:2%;
    }
  .intro{
    width:80%;
    margin:0px;
    padding:0px;
    margin:0 auto;
    text-align:center;
  }
  .szoveg{
    padding:0px;
    margin:0px;
    padding:2%;
    padding-bottom:5%;
    padding-top:8%;
    
  }
  .social-icon{
    margin:0px;
    padding:0px;
    width:100%;
    height:8%;
    text-align:center;
  }
  .fa-2x{
    padding:2%;
  }
  
}
